@model PrjModel.Account

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/HomePage/Home.cshtml";
}


@if (TempData["taikhoan"] != null)
{
    <script>
        alert("Tài khoản hoặc mật khẩu không đúng");
    </script>
}
@if ((string)Session["Role"] == "User")
{
    <script>
    window.location.href = 'http://localhost:1712/TaiKhoan/HomeUserslider'; 
    </script>
}
else if ((string)Session["Role"] == "Admin")
{
    <script>
    window.location.href = 'http://localhost:1712/TaiKhoan/Index'; 
    </script>
}
else
{
    using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
       
        <div class="form-group" style="background:#e8e8e8;padding-top:20px;padding-bottom:20px;margin-left:400px;margin-right:400px">
            <form>
                <div> <input type="text" placeholder="Tên đăng nhập" id="txtusername" name="UserName" class="form-control" style="width:50%;margin-top:30px;margin-right:30px;margin-left:150px">@Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger-login" })</div>
                <div><input type="password" placeholder="Mật khẩu" id="txtusername" name="Password" class="form-control" style="width:50%;margin-top:30px;margin-right:30px;margin-bottom:10px;margin-left:150px">@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger-login" })</div>
                <div><input type="submit" value="Sign up" class="btn" style="margin:30px;margin-left:150px;width:50%;background:#ff6a00;color:white"></div>
            </form>
        </div>


    }
}


