@model PrjModel.Account

@{
    ViewBag.Title = "Login";

}









<link rel="shortcut icon" href="img/favicon.html">

<!-- Bootstrap core CSS -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet">
<link href="~/Content/bootstrap-reset.css" rel="stylesheet">
<!--external css-->
<link href="~/Content/assets/css/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="~/Content/owl.carousel.css" type="text/css">
<link href="~/Content/style-responsive.css" rel="stylesheet" />
<link href="~/Content/login-form.css" rel="stylesheet">

<body>
    <div class="container body">
        <div class="card card-container">

            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            @if (TempData["taikhoan"] != null)
            {
                <script>
                    alert("Tài khoản hoặc mật khẩu không đúng");
                </script>
            }
            @if ((string)Session["Role"] == "User")
            {
                <script>
                    window.location.href = 'http://localhost:51694/Product/Index';
                </script>
            }
            @if ((string)Session["Role"] == "Admin")
            {
                <script>
                    window.location.href = 'http://localhost:51694/Product/IndexAdmin';
                </script>
            }

            else
            {
                using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)



                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="text" name="UserName" class="form-control" placeholder="Tên Đăng Nhập" required autofocus>
                    <input type="password" name="Password" class="form-control" placeholder="Mật Khẩu" required>

                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" name="login">Sign in</button>
                }
            }
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div>
    </div>
</body>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>












