html {
    margin: 0;
    padding: 0;
    height: 100%;
}
 body {
    font-size: 100%;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    display: block;
 
    height: 100%;

    #wapper {
        

        :before, :after {
            box-sizing: inherit;
        }

        .container-fluid {
            ::before {
                display: table;
                content: none;
            }
        }
    }
    .title
        {
        background-color: #800000;
        height:150px;
       h1 {
           margin:auto;
           color:#ffffff;
        }
    }
}

.container-fluid {
    margin: 0px;
    padding: 0px;
    background-color: #333333;

    .navbar-light {
        .navbar-brand {
            color: #ffffff;
        }

        #navbarSupportedContent {
            ul {
                li {
                    .nav-link {
                        color: #ffffff;
                    }
                }
            }
        }
    }
    }

    footer {
        position: absolute;
        width: 100%;
        background: #5b6e84;
        color: #fff;
        padding: 10px 0;
        bottom: 0;
    }

    //Trang thông tin sinh viên

.row {
    margin: 50px;

    img {

        /*@media (min-width: 576px) {
            width: 400px;
            height: 270px;
        }
        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            width: 700px;
            height: 370px;
        }
        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            width: 800px;
            height: 370px;
        }
        // Extra large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            width: 80%;
            height: 370px;
        }*/
        width: 80%;
        height: 100%;

       
    }
}
